.images-detail {
    transition: .3s;
    object-fit: contain;
    max-width: 100%;
    max-height: 400px;
    min-height: 400px;
    position: relative;
    overflow: hidden;
}

.img-child {
    width: 50px;
    height: 50px;
    cursor: pointer;
    object-fit: contain;
    padding: 2px;
}

.title-border h2 {
    font-size: 25px;
    background: #fff none repeat scroll 0 0;
    padding-right: 20px;
    z-index: 2;
    color: #cc3528;
    position: relative;
}

.title-border::after {
    background: #f3f3f3 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.new-price {
    color: #e42313;
    font-size: 25px;
    font-weight: 600;
}

.price {
    color: #82868b;
    font-size: 18px;
    text-decoration: line-through;
}

@media(max-width: 415px) {
    .title-border h2 {
        font-size: 19px;
    }
}