<div class="row bg-white pb-4" id="owl-carousel">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="pt-3" *ngIf="listImages.data && listImages.data.length > 0">
                    <owl-carousel-o #owlLibrary style="overflow:hidden;" [options]=" library.libraryOptions "
                        class="owl-product" (changed)=" library.getPassedData($event) "
                        (initialized)=" library.getPassedData($event)">
                        <ng-container *ngFor=" let item of listImages.data;index as i">
                            <ng-template carouselSlide [id]="'images-' + i" style="overflow:hidden;">
                                <a data-fancybox="images-preview-desk" data-thumbs='{"autoStart":true}'
                                    [href]="globals.BASE_API_URL + 'public/products/'+item">
                                    <img class="rounded  images-detail"
                                        [defaultImage]="globals.BASE_API_URL + 'public/products/'+ item "
                                        [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item " [alt]=" item "
                                        [name]="item">
                                </a>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                    <div class="pt-2 d-flex justify-content-center">
                        <div *ngFor=" let item of listImages.data;let i = index" class="position-relative">
                            <img class="img-child" [ngClass]="{'d-none ': i > 4 && width < 415 }"
                                (click)="library.onClickImageChild('images-' + i + '-child') ;owlLibrary.to('images-' + i)"
                                [id]="'images-' + i + '-child'" [defaultImage]="'../../../../assets/img/default.png'"
                                [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item " [alt]="item"
                                [name]="item">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <div class=" w-100 pt-3">
                    <h4 class="card-title  font-weight-bold">
                        {{data.name}}
                    </h4>
                </div>
                <div class="w-100 text-justify">
                    <div class="d-inline-flex mr-2 mb-2">
                        <span class="text-dark font-weight-bold mr-1">
                            {{ 'FEProductsDetail.sku' | translate }}:
                        </span>
                        <span style="color:var(--color-text)">{{data.code}}</span>
                    </div>
                    <div class="d-inline-flex mr-2 mb-2">
                        <span class="text-dark font-weight-bold mr-1">
                            {{ 'FEProductsDetail.brand' | translate }}:
                        </span>
                        <span style="color:var(--color-text)">{{data.brand_name}}</span>
                    </div>
                    <div class="d-inline-flex mr-2 mb-2">
                        <span class="text-dark font-weight-bold mr-1">
                            {{ 'FEProductsDetail.origin' | translate }}:
                        </span>
                        <span style="color:var(--color-text)">{{data.origin_name}}</span>
                    </div>
                </div>
                <div class="pt-4">
                    <div class="d-flex align-items-end justify-content-between">
                        <div *ngIf="+data.price_sale > 0" class="new-price">
                            {{ data.price_sale | number}} ₫
                        </div>
                        <div *ngIf="+data.price_buy > 0" [ngClass]="data.price_sale == 0 ? 'new-price' : 'price'">
                            {{ data.price_buy | number}} ₫
                        </div>
                    </div>
                    <div *ngIf="+data.price_buy == 0">
                        <span class="new-price">{{ 'FEProduct.contact' | translate }}</span>
                    </div>
                </div>
                <div class="pt-3 w-100 images" id="page-detail" [innerHTML]="data.info | sanitizeHtml">
                </div>
            </div>
            <div class="col-md-3 col-12 d-none d-md-block">
                <div style="position: sticky;z-index: 0;top: 62px;">
                    <div class="card-header text-white mt-3 text-uppercase font-weight-bold border-0 text-center "
                        style="background-color: var(--color-primary);">
                        {{ 'FEProductsDetail.support' | translate }}
                    </div>
                    <div class="card-body pl-2 pr-2 "
                        style="border: 1px solid var(--color-primary); border-top: none !important;">
                        <div class=" d-flex align-items-center "
                            *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                            <div>
                                <a class="text-white mr-1" href="tel:{{ 'FEPhone'|translate }}">
                                    <img class="mr-2" src="../../../../assets/img/phone-call.png " style="width: 20px">
                                </a>
                            </div>
                            <div style="font-size: 15px;">
                                <a class=" ml-1 text-dark" href="tel:{{ 'FEPhone'|translate }}">
                                    {{ 'FEPhone'|translate }}
                                </a>
                            </div>
                        </div>
                        <div class="mt-2 d-flex align-items-center">
                            <div>
                                <img class="mr-2 " src="../../../assets/img/mail.png " style="width: 20px">
                            </div>
                            <div style="font-size: 15px;">
                                <a class="ml-1 text-dark" href="mailto:{{ 'FEMail'|translate }}">
                                    {{ 'FEMail' | translate }}
                                </a>
                            </div>
                        </div>
                        <div class=" mt-2 d-flex">
                            <div>
                                <img class="mr-2 " src="../../../assets/img/address.png " style="width: 20px">
                            </div>
                            <div style="font-size: 15px;">
                                <a class="ml-1 text-dark">{{ 'FEAddress' | translate }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row bg-white py-md-5 py-4">
            <div class=" col-12">
                <div class="title-border position-relative">
                    <h2 class="mb-0 font-weight-bold text-uppercase d-inline-flex">
                        {{ 'FEProductsDetail.detail' | translate }}
                    </h2>
                </div>
                <div *ngIf="data.detail && data.detail.length> 0" class="text-justify pt-4">
                    <div class="pr-3 w-100 images" id="page-detail" [innerHTML]="data.detail | sanitizeHtml">
                    </div>
                </div>
                <div *ngIf="!data.detail || data.detail.length == 0" class=" pt-4 pb-4">
                    <div class=" text-center pt-4 pb-4">
                        <h4>{{ 'lblUpdating' | translate }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4 bg-white">
    <div class="col-md-12 py-4" style="position:relative">
        <div class="title-border position-relative">
            <h2 class="mb-0 font-weight-bold text-uppercase d-inline-flex">
                {{ 'FEProductsDetail.productGroup' | translate }}
            </h2>
        </div>
    </div>
    <div *ngIf="!data.related || data.related.length == 0" class="col-md-12 pt-4 pb-4">
        <div class=" text-center pt-4 pb-4">
            <h4>{{ 'lblUpdating' | translate }}</h4>
        </div>
    </div>
</div>
<div class="bg-white pb-4" style="padding: 0 15px; margin-right: -15px;
margin-left: -15px;" *ngIf="showOwl">
    <owl-carousel-o [options]="related.relatedOptions" class="owl-product">
        <ng-container *ngFor="let item of data.related">
            <ng-template carouselSlide
                [width]="(width > 415 && data.related.length >= 5) || (width < 415 && data.related.length >= 2) ? '' :  widthOwl">
                <box-product-component [item]="item"></box-product-component>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>