.footer {
    font-size: 14px;
    border-bottom: 3px solid $colorPrimary;
    background: $bgFooter url(/../../assets/img/footer-border.png) repeat-x left top;
    background-size: 10px 3px;

    &-container {
        max-width: 50%;

        @include viewport-md {
            max-width: 100%;
        }
    }
}
