.contact a {
    color: #7a8088;
    font-size: 14px;
}

.contact a i {
    font-size: 14px;
}

.header {
    &-top {
        &-right {
            @include viewport-sm {
                width: 100%;
            }
        }
    }

    &-icon--color {
        color: $colorHeaderIcon !important;
    }
}

.header-social a {
    font-size: 14px;
}

.header-social a i {
    transition: all 0.3s;
}

.header-social a:hover i {
    transform: scale(1.2);
    transition: all 0.3s;
}

.logo-header {
    width: 125px;
    transition: 0.8s ease all;
    object-fit: contain;
    object-position: left;
}

@media (max-width: 415px) {
    .logo-header {
        width: 80px !important;
    }
}

.language {
    cursor: pointer;
    font-size: 15px;
}

.language-active {
    color: #0d75ce !important;
}

.navbar-fixed {
    z-index: 10;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $colorWhite !important;
    box-shadow: 0px 0px 6px #29363d38;
    animation: navbar-fixed 0.8s cubic-bezier(0.075, 0.82, 0.165, 0.8);
}

.header-page {
    position: relative;
    background: white;
}

.bg-dark-page {
    background-color: #343a40 !important;
}

.search {
    position: absolute;
    top: 30px;
    right: 83px;
    width: 300px;
    padding: 0 20px;
    background-color: $colorWhite;
    border-top: 4px solid #40c4ff;
    overflow: hidden;
    z-index: 3;
    box-sizing: border-box;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

.input-search {
    outline: none !important;
    border: 0;
    border-bottom: 1px solid #184863;
    font-size: 14px;
    &:focus {
        border-bottom-color: $colorPrimary;
    }
}

.input-search:focus {
    box-shadow: none;
}

.search-mobi {
    position: fixed;
    z-index: 9;
    background-color: $colorWhite;
    overflow-x: hidden;
    transition: 0.3s;
    left: 0;
    top: 0;
    height: 138px;
    right: 0;
    padding-top: 75px;
    box-shadow: 0px 0px 6px #29363d38;
    border-bottom: $colorText;
}

.search-input,
.search-input-mobile {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    font-family: arial;
    font-size: 14px;
    font-style: italic;
    height: 48px;
    line-height: 48px;
    outline: medium none;
    padding: 0 55px 0 170px;
    width: 100%;
}

.search-input-mobile {
    padding: 0 50px 0 20px;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 33%;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 375px) {
    .search {
        width: 260px;
    }
}

.logo:focus {
    outline: none;
}

.menu-mobi-hidden {
    transform: translateY(-100%) 0.33s;
    transition: all 0.33s;
}

.menu-mobi {
    display: none;
    position: fixed;
    z-index: 9;
    background-color: $colorWhite;
    overflow: hidden;
    left: 0;
    top: 137px;
    bottom: 0;
    right: 0;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.11);
    animation: showTabletNavigation 0.8s cubic-bezier(0.075, 0.82, 0.165, 0.8);

    @include viewport-sm {
        top: 66px;
        animation: showMobileNavigation 0.8s cubic-bezier(0.075, 0.82, 0.165, 0.8);
    }
}

.nav-open-btn .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #3a3a3a;
    margin: 6px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 30px;
    height: 2px;

    @include viewport-sm {
        width: 25px;
    }
}

.nav-open-btn.active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.nav-open-btn.active .line:nth-child(2) {
    opacity: 0;
}

.nav-open-btn.active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}
