@import 'src/styles/abstracts/colors';
@import 'src/styles/abstracts/responsive';

.scrollTop {
    --size: 32px;
    right: 40px;
    bottom: 60px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    z-index: 3;
    display: none;

    @include viewport-sm {
        right: 20px;
        bottom: 30px;
    }
    &__icon {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $colorPrimary;
            transform: rotate(45deg);
            box-shadow: 1px 1px 5px #00000057;
            z-index: -1;
        }
        &:hover > i {
            transform: translateY(-4px);
        }
        > i {
            font-size: 18px;
            transition: 0.25s;
        }
    }
}

.social-fixed {
    $size: 32px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 3;

    > a {
        width: $size;
        height: $size;
        line-height: $size;
        display: block;
        text-align: center;
        font-family: 15px;
        overflow: hidden;

        &:first-child {
            border-top-left-radius: 6px;
        }
        &:last-child {
            border-bottom-left-radius: 6px;
        }
    }

    &__facebook {
        background-color: #3b5998;
    }
    &__zalo {
        background-color: #028fe3;
    }
    &__mail {
        background: -webkit-linear-gradient(top, #1a51f0 0%, #03e4fe 100%);
    }
    &__phone {
        background: -webkit-linear-gradient(top, #86fe65 0%, #06d315 100%);
    }
    // &__instagram {
    //     background: #f09433;
    //     background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    //     background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    //     background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    // }
    // &__youtube {
    //     background-color: #ff0000;
    // }
    // &__skype {
    //     background-color: #00aff0;
    // }
}
