<ng-template [ngIf]="!loading">
    <app-header (loading)="eventLoading($event)"></app-header>

    <main style="min-height: 75vh;">
        <router-outlet></router-outlet>

        <div class="social-fixed position-fixed d-none d-md-block">
            <a class="social-fixed__facebook text-white" target="_blank" [href]="('FEHrefFacebook' | translate)"
                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="social-fixed__zalo" target="_blank" [href]="('FEHrefZalo' | translate)"
                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'">
                <img [src]="iconZalo" alt="Zalo" class="img-fluid" />
            </a>
            <a target="_blank" href="mailto: {{ 'FEMail' | translate }}" *ngIf="('FEMail' | translate) != 'FEMail'"
                class="social-fixed__mail text-white">
                <i class="fas fa-envelope"></i>
            </a>
            <a target="_blank" href="tel: {{ 'FEPhone' | translate }}" *ngIf="('FEPhone' | translate) != 'FEPhone'"
                class="social-fixed__phone text-white">
                <i class="fas fa-phone-alt"></i>
            </a>
            <!-- <a class="social-fixed__instagram text-white" target="_blank" [href]="('FEHrefInstagram' | translate)"
                *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram'">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="social-fixed__youtube text-white" target="_blank" [href]="('FEHrefYoutube' | translate)"
                *ngIf="('FEHrefYoutube' | translate)!='FEHrefYoutube'">
                <i class="fab fa-youtube"></i>
            </a>
            <a class="social-fixed__skype text-white" target="_blank" [href]="('FEHerfSkype' | translate)"
                *ngIf="('FEHerfSkype' | translate) != 'FEHerfSkype' && ('FEHerfSkype' | translate) != ''">
                <i class="fab fa-skype"></i>
            </a> -->
        </div>

        <div class="position-fixed scrollTop text-center text-white cursor-pointer">
            <div class="scrollTop__icon position-relative">
                <i class="fal fa-long-arrow-up"></i>
            </div>
        </div>
    </main>
</ng-template>

<ng-template [ngIf]="loading">
    <loading-component></loading-component>
</ng-template>

<app-footer></app-footer>