<app-slide></app-slide>

<section *ngIf="about.data.title?.length" class="about" [style.background-image]="'url(' + about.data.background + ')'">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 col-md-7 col-lg-6 order-1 order-md-0">
                    <h3 class="font-weight-bold color-secondary mb-0">{{ about.data.title }}</h3>
                    <p class="mt-3 mb-0">{{ about.data.description }}</p>

                    <a [routerLink]="['/' + globals.language.getCode() + '/' + about.data.link]"
                        class="button-primary btn btn-sm rounded-0 text-uppercase text-white mt-4 px-4">
                        <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                        <i class="fal fa-long-arrow-right"></i>
                    </a>
                </div>

                <div class="col-12 col-md-5 col-lg-6 order-0 order-md-1 text-center text-md-right mb-4 mb-md-0">
                    <img [src]="about.data.images" [alt]="about.data.name" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>

<home-products></home-products>