<form [formGroup]="fm" *ngIf="fm" (submit)='onSubmit()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'partner.titleEdit':'partner.titleAdd') | translate : {name : fm.value.company}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <div class="form-group">
                        <label>{{ 'partner.logo' | translate }}</label>
                        <div class="imagesThumb" *ngIf="logo">
                            <div class="rounded-circle" *ngFor="let item of logo.data; let i = index">
                                <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                <span (click)="logo._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                    class="change">
                                    <i class="far fa-image"></i>
                                </span>
                                <span (click)="logo._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                    <i class="fas fa-times"></i>
                                </span>
                                <span (click)="logo._push($event)" *ngIf="item.type==2" class="add">
                                    <i class="fas fa-plus-circle"></i>
                                </span>
                            </div>
                            <input type="file" (change)="logo._onchange($event)">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>{{ 'partner.company' | translate }}<span
                                        class="text-danger pl-2 font-lg">*</span></label>
                                <input type="text" class="form-control" name="company" formControlName="company"
                                    placeholder="{{ 'partner.company' | translate }}">
                                <small *ngIf="!fm.get('company').valid && fm.get('company').touched" style="color:red">
                                    {{ 'message.required' | translate }}</small>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>{{ 'partner.link' | translate }}</label>
                                <input type="text" class="form-control" name="link" formControlName="link"
                                    placeholder="{{ 'partner.link' | translate }}">
                                <small *ngIf="!fm.get('link').valid && fm.get('link').touched" style="color:red">
                                    {{ 'message.required' | translate }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>{{ 'lblOrders' | translate }}</label>
                                <input type="text" class="form-control" name="orders" formControlName="orders"
                                    placeholder="{{ 'lblOrders' | translate }}">
                                <small *ngIf="!fm.get('orders').valid && fm.get('orders').touched" style="color:red">
                                    {{ 'message.required' | translate }}</small>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-md-6 d-flex align-items-center">
                            <div class="custom-checkbox ml-4">
                                <input type="checkbox"
                                       formControlName="type"
                                       class="custom-control-input"
                                       name="type"
                                       id="type">
                                <label class="custom-control-label"
                                       for="type">{{ 'partner.highlight' | translate }}</label>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="form-group">
                        <label>{{ 'partner.note' | translate }}</label>
                        <input type="text"
                               class="form-control"
                               name="note"
                               formControlName="note"
                               placeholder="{{ 'partner.note' | translate }}">
                    </div> -->
                </div>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
                <div>
                    <button type="submit" [disabled]="!fm.valid" class="btn btn-success float-right mr-md-2">
                        {{ 'btn.save' | translate }}
                    </button>
                    <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                        class="btn btn-primary float-right mr-2">{{ 'btn.back'
                        | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</form>