<div class="py-2 py-lg-3 bg-light">
	<div class="container-main">
		<div class="container-fluid">
			<div class="title-page">
				<div class="d-md-flex align-items-lg-center justify-content-between">
					<!-- <h3 class="mb-0 d-none d-lg-block font-weight-bold color-primary">{{data.name}}</h3> -->
					<nav aria-label="breadcrumb" *ngIf="data.name?.length">
						<ol class="breadcrumb bg-transparent border-0 m-0 p-0">
							<li class="breadcrumb-item" aria-current="page">
								<a [routerLink]="['/']">
									<p class="breadcrumb-item-text d-inline-block mb-0 color-primary--hover">
										{{ 'lblHome' | translate }}
									</p>
								</a>
							</li>
							<li class="breadcrumb-item" aria-current="page"
								*ngIf="data.parent_name && data.parent_name != ''">
								<a (click)="handleClick(data)" class="cursor-pointer">
									<p class="breadcrumb-item-text d-inline-block mb-0 color-primary--hover">
										{{ data.parent_name }}
									</p>
								</a>
							</li>
							<li class="breadcrumb-item" aria-current="page">
								<p class="breadcrumb-item-text d-inline-block mb-0 is--active">{{ data.name }}</p>
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>