<div class="container-fluid">
    <form class="row" [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
        <div class="card w-100">
            <div class="card-header">
                <div *ngIf="fm.value.type==2">
                    <strong>{{(( id && id!=0)?'library.editVideo':'library.addVideo') | translate : { name:
                        fm.value.name } }}</strong>
                </div>
                <div *ngIf="fm.value.type==1 ">
                    <strong>{{(( id && id!=0)?'library.editImages':'library.addImages') | translate : { name:
                        fm.value.name }
                        }}
                    </strong>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label>{{ 'library.lblSubject' | translate }} <span style="color:red"> * </span></label>
                            <input formControlName="name" type="text" class="form-control"
                                placeholder="{{ 'library.lblSubject' | translate }}">
                            <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                                style="color:red">{{'message.required'
                                | translate}}</small>
                        </div>
                        <div class="form-group">
                            <label>{{ 'library.groupname' | translate }} <span style="color:red"> * </span></label>
                            <div>
                                <select name="page_id" formControlName="page_id" class="form-control">
                                    <option *ngFor="let grlibrary of listgrouplibrary" [value]="grlibrary.id">
                                        {{grlibrary.name}}</option>
                                </select>
                                <small style="color:red"
                                    *ngIf="fm.get('page_id').invalid && fm.get('page_id').touched">{{'message.required'|translate}}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'lblOrders' | translate }}</label>
                            <input type="number" formControlName="orders" name="orders" class="form-control"
                                placeholder="{{ 'lblOrder' | translate }}">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">{{'lblNote' | translate}}</label>
                            <textarea formControlName="description" class="form-control"
                                id="exampleFormControlTextarea1" rows="1"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label>{{ 'library.lblType' | translate }}</label><br />
                        <div class="d-flex justify-content-start">
                            <div class="custom-control custom-radio mr-3">
                                <input type="radio" name="type" formControlName="type" id="images" [value]="1"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="images">{{ 'type.images' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="type" formControlName="type" id="video" [value]="2"
                                    class="custom-control-input">
                                <label class="custom-control-label" for="video">{{ 'type.video' | translate }}</label>
                            </div>
                        </div>

                        <div class="form-group pt-4">
                            <label *ngIf="+fm.value.type == 1">{{ 'lblImages' | translate }} (.png / .jpg /size: 500px x
                                300px)</label>
                            <label *ngIf="+fm.value.type == 2">{{ 'library.thumbnail' | translate }} (.png / .jpg /size:
                                500px x 300px)</label>
                            <div class="imagesThumb text-left" *ngIf="images">
                                <div *ngFor="let item of images.data ; let i = index">
                                    <img [src]="item.src" *ngIf="item.type==0 || item.type==1" />
                                    <span (click)="images._change($event,item)" *ngIf="item.type==0 || item.type==1"
                                        class="change">
                                        <i class="far fa-image"></i>
                                    </span>
                                    <span (click)="images._del(i)" *ngIf="item.type==0 || item.type==1" class="del">
                                        <i class="fas fa-times"></i>
                                    </span>
                                    <span (click)="images._push($event)" *ngIf="item.type==2" class="add">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                                <input type="file" (change)="images._onchange($event)"
                                    [accept]="images.typeAcceptImages">
                            </div>
                        </div>
                        <div class="form-group mt-4 pt-1" *ngIf="+fm.value.type == 2">
                            <label>{{'library.linkvideo' | translate}}</label>
                            <input formControlName="value" (keyup)="changeUrlVideo($event)" name="value" type="text"
                                class="form-control" placeholder="Nhập link video">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-left">
                    <label class="lable-switch pull-left">
                        <div class="switch">
                            <input checked="checked" formControlName="status" type="checkbox" name="status">
                            <span class="lever"></span>
                        </div>
                        <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                            'status.off') | translate }}</span>
                    </label>
                </div>
                <button type="button" (click)="onSubmit()" [disabled]="!fm.valid"
                    class="btn btn-success float-right">{{'btn.save'
                    | translate }}</button>
                <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                    class="btn btn-primary float-right mr-2">{{'btn.back'
                    | translate }}
                </button>
            </div>
        </div>
    </form>
</div>