<div class="row mb-3 bg-light align-items-center">
    <div class="col-4 col-md-4">
        <div style="color: #595959">
            <span class="font-weight-bold">
                {{ cwstable.settings.total ? cwstable.settings.total : 0 }}
            </span>
            {{ 'FEProduct.product' | translate }}
        </div>
    </div>
    <div class="col-8 col-md-8 text-right pl-0">
        <div class="d-md-flex align-items-center justify-content-end">
            <div class="ml-md-3 d-inline-flex align-items-center my-2"
                *ngFor="let col of cwstable.cols; let i = index;">
                <span class="mr-2">{{ col.title | translate }}</span>
                <button (click)="cwstable._sorting(col.field, 'desc')" class="btn btn-sm rounded-0 mr-1">
                    <i class="fas fa-sort-amount-down"></i>
                </button>
                <button (click)="cwstable._sorting(col.field, 'asc')" class="btn btn-sm rounded-0">
                    <i class="fas fa-sort-amount-up"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="ListData" class="row" *ngIf="show == 1">
    <div class="col-6 px-2 mb-3 col-md-6 col-lg-4" *ngFor="let item of cwstable.data">
        <box-product-component class=" mb-4 " [item]="item"> </box-product-component>
    </div>
    <div class="col-12 text-center pt-4 pb-4" *ngIf="!cwstable.data || cwstable.data.length == 0">
        <h4>{{ 'FEProduct.NotHaveProduct' | translate }}</h4>
    </div>

    <ng-template [ngIf]="show == -1">
        <loading-component></loading-component>
    </ng-template>

    <div class="col-12" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
        <pagination [directionLinks]="false" class="d-flex justify-content-end pt-lg-4"
            [totalItems]="cwstable.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
            [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)">
        </pagination>
    </div>
</div>

<div class="row" *ngIf="show == 0">
    <div class="col-12 text-center pt-4 pb-4">
        <h4>{{ 'FEProduct.NotHaveProduct' | translate }}</h4>
    </div>
</div>