ul li {
    list-style: none;
}

.btn:focus {
    color: #e24861;
}

input {
    color: #6ac610;
    cursor: pointer;
}

#mobile-filter {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1000;
}

#mobile-filter .content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
}