/* Colors rules */

$colorPrimary: #4185f2;
$colorSecondary: #bb191b;
$colorWhite: #fff;
$colorText: #525252;
$colorHeaderIcon: #479cf6;
$bgFooter: #010f27;
$borderPrimary: #cfcfcf;

.color-primary {
    color: $colorPrimary;
}

.color-primary--hover:hover {
    color: $colorPrimary;
}

.color-secondary {
    color: $colorSecondary;
}

.color-text {
    color: $colorText;
}

.is--active {
    color: $colorPrimary !important;
}
