/* Home */

.about {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-bottom: 1px dashed $colorSecondary;
    border-top: 1px dashed $colorSecondary;
    padding: $innerHome 0;
    @include viewport-sm {
        padding: ($innerHome / 2) 0;
    }
}

.slide {
    .active &-description {
        animation: slideUp 0.67s ease-out;
    }

    .active &-title {
        animation: slideUp 1s ease-out;
    }

    .active .button-primary {
        animation: slideDown 1.67s ease-out;
    }

    .owl-nav {
        .owl-prev,
        .owl-next {
            opacity: 0.5;
            margin: 0 2.6875rem !important;
            img {
                max-width: 48px;
            }
        }

        .owl-prev:hover,
        .owl-next:hover {
            opacity: 1;
        }
    }

    .owl-dots {
        --dotSize: 16px;
        right: 4.6875rem;
        bottom: 1.5rem !important;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;

        span {
            background-color: transparent !important;
            transition: 0.25s ease-out !important;
            width: var(--dotSize) !important;
            height: var(--dotSize) !important;
        }

        .active > span {
            background-color: $borderPrimary !important;
        }
    }
}

.products {
    padding: $innerHome 0;
    @include viewport-sm {
        padding: ($innerHome / 1.5) 0;
    }

    .owl-stage {
        padding-bottom: 5px;
    }

    .owl-dots {
        --dotSize: 20px;
        right: 4.6875rem;
        bottom: -35px !important;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;

        .owl-dot > span {
            width: 16px !important;
            height: 16px !important;
            background-color: $colorWhite !important;
            border: 1px solid $colorPrimary !important;
        }

        .owl-dot.active > span {
            background-color: $colorPrimary !important;
        }
    }
}
