.page {
    &-list-group {
        &-container {
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        }

        &__heading {
            border-left: 3px solid $colorPrimary;
        }

        &__item {
            transition: 0.1s;

            &:hover {
                color: $colorWhite;
                background-color: $colorPrimary;
            }

            &.active {
                z-index: unset;
            }
        }
    }
}
