@import 'src/styles/abstracts/colors';
@import 'src/styles/abstracts/responsive';

.slide {
    --height: 500px;
    @include viewport-sm {
        --height: 350px;
    }

    &-bg {
        height: var(--height);
        overflow: hidden;

        img {
            object-fit: cover;
        }
    }

    &-content {
        position: absolute;
        max-width: 1124px;
        padding: 0 15px;
        width: 100%;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &-description {
        background-color: rgba(0, 0, 0, 0.33);
    }

    &-title {
        font-size: 2.625rem;
        background-color: rgba(0, 0, 0, 0.33);
        @include viewport-sm {
            font-size: 2rem;
        }
    }

    &-btn {
        border: 1px dashed transparent;

        > i {
            font-size: 1.25rem;
            color: $colorSecondary;
        }

        &:hover {
            color: #fff !important;
            background-color: $colorSecondary;
            border: 1px dashed #fff;

            > i {
                color: #fff !important;
            }
        }
    }
}
