@import 'src/styles/abstracts/colors';

.tilte {
    font-size: 22px;
    color: $colorPrimary;
    border-bottom: 1px solid;
}

.title-search {
    color: $colorText;
}

.title-search span {
    font-size: 2rem;
}

.result-search {
    font-size: 28px;
}

.icon-search {
    position: absolute;
    right: 33px;
    z-index: 3;
    top: 33px;
    color: $colorSecondary;
}

.input-search {
    height: 50px;
    padding: 5px 55px 5px 20px;
}
.result-search {
    color: $colorSecondary;
}

// .form-control:focus {
//     box-shadow: 0 0 0 0.2rem $colorPrimary;
//     border: $colorPrimary;
// }

.btn-back {
    background: linear-gradient(to bottom, #e63d42, $colorSecondary);
    width: 100px;
    color: $colorWhite;
    font-weight: 600;
    transition: 0.3s;
}

.btn-back:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.title-border h2 {
    font-size: 25px;
    background: $colorWhite;
    padding-right: 20px;
    z-index: 2;
    position: relative;
    color: $colorPrimary;
}

.title-border::after {
    background: $borderPrimary;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

@media (max-width: 415px) {
    .title-search {
        font-size: 22px;
    }
    .title-search span {
        font-size: 22px;
    }
    .result-search {
        font-size: 17px;
    }
}
