<div class="card w-100">
    <div class="card-header">
        <strong>{{'library.title' | translate }}</strong>
        <div class="float-md-right d-flex">
            <div class="input-group">
                <input type="text" (keyup)="cwstable._search()" [(ngModel)]="cwstable.search.value" class="form-control" placeholder="{{'search.txt'|translate}}">
            </div>

        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th *ngFor="let col of cwstable.cols" (click)="cwstable._sorting(col.field)" [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">

                            <span *ngSwitchDefault>{{col.title | translate }}</span>
                            <i *ngIf="cwstable.sorting.field==col.field" class="fa" [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cwstable.data, let i=index" [ngClass]="{'status-off': item.status && item.status==0 }">
                    <td *ngFor="let col of cwstable.cols" [ngClass]="{ 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">
                                {{ i + 1 }}
                            </span>
                            <a *ngSwitchCase="'name'" style="text-decoration: none !important;" [routerLink]="['../update/',item.id]">{{item[col.field]}}</a>
                            <span *ngIf="item.type==1">
                                <a *ngSwitchCase="'images'" class=" text-primary" [routerLink]="['../update/',item.id]">
                                    <img style="width: 120px; height:80px; object-fit: cover;"
                                        [src]="(item[col.field] && item[col.field].length > 3) ? item[col.field] : ''">
                                </a>
                            </span>
                            <span *ngIf="item.type==2">
                                <a *ngSwitchCase="'images'" class="text-primary" [routerLink]="['../update/',item.id]">
                                    <span>{{ item['value'] }}</span>
                            </a>
                            </span>
                            <span *ngSwitchCase="'type'">
                                <span [(ngSwitch)]="item[col.field]">
                                    <span *ngSwitchCase="'1'">{{ 'type.images' | translate }}</span>
                            <span *ngSwitchCase="'2'">{{ 'type.video' | translate }}</span>
                            </span>
                            </span>
                            <span *ngSwitchCase="'maker_date'">
                                {{item[col.field]| date: 'dd/MM/yyyy' }}
                            </span>
                            <span *ngSwitchCase="'action'" class='display-action'>
                                <button class="btn bg-transparent btn-sm text-white" (click)="onRemove(item)">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </span>
                            <span *ngSwitchDefault>{{item[col.field]}}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>
                <a (click)="cwstable._previousnext(false)" style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of
                    {{ cwstable.settings.total }}</span>
            <a (click)="cwstable._previousnext(true)" style="padding : 3px 5px;">
                <i class="fa fa-angle-double-right"></i>
            </a>
            </span>
        </div>
    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']" class="text-white " style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>