<div class="row">
    <div class="col-12 col-md-3 pr-md-0">
        <div class="card">
            <div class="card-header font-weight-500">
                <i class="fas fa-cogs"></i> {{'settings.settings' | translate }}
            </div>
            <div class="list-group">
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['website']">
                    {{'settings.website' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['menu']">
                    {{'settings.menu' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['email']">
                    {{'settings.email' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['slide']">
                    {{'settings.banner' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['company']">
                    {{'settings.company' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['content']">
                    {{'settings.content' | translate }}</a>
                <!-- <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['library']">
                    {{'settings.library' | translate }}</a> -->
                <!-- <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['link']">
                    {{'settings.link' | translate }}</a> -->
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['product']">
                    {{'settings.product' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['origin']">
                    {{'settings.origin' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['brand']">
                    {{'settings.brand' | translate }}</a>
                <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['social-network']">
                    {{'settings.socialNetwork' | translate }}</a>
                <!-- <a class="list-group-item list-group-item-action border-left-0 border-right-0 pt-2 pb-2"
                    routerLinkActive="active" [routerLink]="['orther']">
                    {{'settings.other' | translate }}</a> -->
            </div>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>