<section *ngIf="products.data.list?.length" class="products">
	<div class="container-main">
		<div class="container-fluid">
			<h3 class="font-weight-bold color-primary mb-0">{{ products.data.title }}</h3>
			<p class="mt-3 mb-0">{{ products.data.description }}</p>

			<div class="mt-4">
				<!-- <owl-carousel-o [options]="products.options">
					<ng-container *ngFor="let product of products.data.list">
						<ng-template carouselSlide>
							<box-product-component [item]="product"></box-product-component>
						</ng-template>
					</ng-container>
				</owl-carousel-o> -->
				<owl-carousel-o [options]="products.options">
					<ng-container *ngFor="let items of products.data.list">
						<ng-template carouselSlide>
							<div>
								<div class="mb-3" *ngFor="let item of items">
									<box-product-component [item]="item"></box-product-component>
								</div>
							</div>
						</ng-template>
					</ng-container>
				</owl-carousel-o>
			</div>
		</div>
	</div>
</section>