<nav class="nav navbar navbar-expand-md pb-0 px-0">
    <ul class="navbar-nav align-items-center" *ngIf="menu?.length">
        <ng-template #recursiveMenu let-menu>
            <li class="nav-item scroll-menu " *ngFor="let item of menu; first as isFirst"
                [ngClass]="(item.data.length > 0 ? ('item-children-' + item.level) : '' )">
                <a class="nav-link" [ngClass]="'level-' + item.level" (click)="handleRouter(item.code, item.href)"
                    [class.is--active]="isActive === item.href">
                    <span class="text-nowrap text-uppercase"> {{item.name}} </span>
                    <i class="fas fa-angle-down ml-1" *ngIf="item.data?.length"></i>
                </a>
                <!-- <a class="nav-link" *ngIf="item.type==1" [ngClass]="'level-' + item.level" target="_blank"
                    [href]="item.link">
                    <span class="text-nowrap text-uppercase"> {{item.name}} </span>
                </a> -->
                <div class="dropdown-menu-item rounded-0 border-0 p-0 menu-item-child" *ngIf="item.data?.length">
                    <ng-container *ngTemplateOutlet="recursiveMenu;context: { $implicit: item.data }">
                    </ng-container>
                </div>
            </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveMenu;  context:{ $implicit: menu }">
        </ng-container>
    </ul>
</nav>