@import 'src/styles/abstracts/colors';

ul li {
    position: relative;
    padding: 0;
    z-index: 2;
}

ul li:first-child a.level-1 {
    padding-left: 0;
}

ul li a.level-1 {
    color: #7e7e7e;
    padding: 0 25px 8px;
    font-size: 15px;
    position: relative;
}

ul li a.level-1 {
    padding-right: 0;
}

.navbar li .dropdown-menu-item li a {
    display: block;
    color: #646464 !important;
    overflow: hidden;
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 4px solid transparent;
}

ul li:hover a.level-1 {
    text-decoration: none;
    cursor: pointer;
    color: #0b60a9 !important;
}

ul li div.dropdown-menu-item li:hover a.level-2,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li:hover a.level-3,
ul li div.dropdown-menu-item li.item-children-2 div.dropdown-menu-item li div.dropdown-menu-item li:hover a.level-4 {
    text-decoration: none;
    cursor: pointer;
    color: #0b60a9 !important;
    border-left-color: #0b60a9;
}

ul li a.level-2 span,
ul li a.level-3 span,
ul li a.level-4 span {
    font-size: 15px;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child {
    display: none;
    position: absolute;
    opacity: 0.5;
    z-index: 1;
    background-color: white !important;
    transform: translateY(20px);
    visibility: hidden;
}

ul li div.menu-item-child .item-children-2:hover div.menu-item-child {
    display: block;
    position: absolute;
    left: 100%;
    opacity: 1;
    padding: 10px 0 !important;
    top: -10px;
    visibility: visible;
    background-color: white !important;
    transform: translateY(0) !important;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3 div.menu-item-child {
    display: none;
    position: absolute;
    width: auto !important;
    opacity: 0.5;
    z-index: 1;
    background-color: white !important;
    transform: translateY(20px);
    visibility: hidden;
}

ul li div.menu-item-child .item-children-2 div.menu-item-child .item-children-3:hover div.menu-item-child {
    display: block;
    position: absolute;
    left: 100%;
    opacity: 1;
    padding: 10px 0 !important;
    top: -10px;
    visibility: visible;
    background-color: white !important;
    transform: translateY(0) !important;
}

.navbar li div.dropdown-menu-item {
    position: absolute;
    top: 98%;
    left: 8px;
    opacity: 0.5;
    z-index: 1;
    background-color: white !important;
    transform: translateY(20px);
    visibility: hidden;
    box-shadow: 0 2px 7px 0px rgba(0, 0, 0, 0.175);
}

.navbar ul li:hover div.dropdown-menu-item {
    opacity: 1;
    transform: translateY(0) !important;
    visibility: visible;
    transition: all 0.5s;
}

.active {
    color: #0b60a9 !important;
}

.nav {
    border-top: 1px dashed $borderPrimary;
}
