<article class="bg-white border border-light overflow-hidden box rounded-lg">
    <a data-fancybox class="box__img cursor-pointer overflow-hidden d-block" [href]="item.images"
        [attr.data-caption]="item.name">
        <img class="img-fluid" [src]="item.images" [alt]="item.name" width="100%" height="100%" />
    </a>
    <h4 class="box__title name cursor-pointer text-center mb-0 p-3">
        {{ item.name }}
    </h4>
</article>