@import 'src/styles/abstracts/colors';
@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/responsive';

.box {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    &:hover &__title {
        color: $colorPrimary;
    }

    &:hover &__img > img {
        transform: scale(1.1);
    }

    &__img > img {
        transition: all 0.5s ease-in-out;
    }

    &__title {
        font-size: 15px;
    }
}

.name {
    @include line-clamp(2);
    min-height: 70px;
}

.price {
    height: 3.25rem;

    &-sale {
        font-size: 1.125rem;
    }

    &-default {
        text-decoration: line-through;
        font-size: 0.875rem;

        @include viewport-sm {
            font-size: calc(0.875rem - 1px);
        }
    }
}
