<breadcrumb-component [input]="data"></breadcrumb-component>

<section class="page-inner" [ngSwitch]="initState">
    <ng-template [ngSwitchCase]="-1">
        <loading-component></loading-component>
    </ng-template>

    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3 page-list-group-container py-3">
                    <ng-template [ngIf]="childrenPages.list?.length">
                        <a class="text-decoration-none cursor-pointer"
                            (click)="handleRouterPage(childrenPages.parent_code, childrenPages.parent_link, childrenPages.link)">
                            <h3 class="h5 font-weight-bold color-primary pl-2 page-list-group__heading d-inline-block">
                                {{ childrenPages.parent_name ? childrenPages.parent_name : childrenPages.name }}
                            </h3>
                        </a>
                        <div class="page-list-group list-group rounded-lg border-light mb-4">
                            <a *ngFor="let children of childrenPages.list"
                                [routerLink]="['/' + language + children.parent_link + '/' + children.link]"
                                class="page-list-group__item list-group-item list-group-item-action py-2"
                                [class.active]="+childrenPages.id === +children.id">
                                {{ children.name }}
                            </a>
                        </div>
                    </ng-template>

                    <div class="list-group mb-4 d-none d-md-block" *ngIf="newProducts.data.list?.length">
                        <h3 class="h5 font-weight-bold color-primary pl-2 page-list-group__heading">
                            {{ 'FEProduct.new' | translate }}
                        </h3>
                        <div class="mb-2" *ngFor="let product of newProducts.data.list">
                            <box-product-component [item]="product">
                            </box-product-component>
                        </div>
                    </div>

                    <div class="list-group mb-4 d-none d-md-block" *ngIf="hotNews.data.list?.length">
                        <h3 class="h5 font-weight-bold color-primary pl-2 page-list-group__heading">
                            {{ 'FEContents.new' | translate }}
                        </h3>
                        <!-- <box-content-component *ngFor="let new of hotNews.data.list" [item]="new">
                            </box-content-component> -->
                        <box-news-horizontal *ngFor="let item of hotNews.data.list" [input]="item"
                            [language]="language">
                        </box-news-horizontal>
                    </div>

                    <div class="list-group mb-4 d-none d-md-block"
                        *ngIf="('FEVideo' | translate) != 'FEVideo' && ('FEVideo' | translate) != ''">
                        <h3 class="h5 font-weight-bold text-uppercase color-primary pl-2 page-list-group__heading">
                            {{ 'lblVideo' | translate }}
                        </h3>
                        <div [innerHTML]="('FEVideo' | translate) | sanitizeHtml"></div>
                        <!-- <a data-fancybox-plyr [href]="('FEVideo' | translate) | sanitizeHtml">
                                <div [innerHTML]="('FEVideo' | translate) | sanitizeHtml"></div>
                            </a> -->
                    </div>

                    <div class="list-group d-none d-md-block" *ngIf="banner.data.image">
                        <h3 class="h5 font-weight-bold text-uppercase color-primary pl-2 page-list-group__heading">
                            {{ 'FEPages.banner' | translate }}
                        </h3>
                        <a class="d-block" [href]="banner.data.link" target="_blank">
                            <img [src]="banner.data.image" [alt]="banner.data.name" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9 pl-md-4">
                    <ng-template [ngSwitchCase]="1">
                        <ng-container [ngSwitch]="+data.type">
                            <ng-template [ngSwitchCase]="2">
                                <div id="page-detail" *ngIf="data.detail?.length"
                                    [innerHTML]="data.detail | sanitizeHtml">
                                </div>
                                <ng-template [ngIf]="!data.detail || data.detail.length == 0">
                                    <box-updating-component></box-updating-component>
                                </ng-template>
                            </ng-template>

                            <ng-template [ngSwitchCase]="3">
                                <div *ngIf="products.data && products.data.length > 0">
                                    <app-list-product [data]="products.data" [group]="data.id"></app-list-product>
                                </div>
                                <div class="col-12 pt-4" *ngIf="!products.data || products.data.length == 0">
                                    <box-updating-component></box-updating-component>
                                </div>
                            </ng-template>

                            <ng-template [ngSwitchCase]="4">
                                <div class="row" *ngIf="contents.data?.length">
                                    <div class="col-lg-4 col-12" *ngFor="let item of contents.data">
                                        <box-content-component [item]="item" class="d-none d-md-block" [type]="0">
                                        </box-content-component>
                                        <box-content-component [item]="item" class="d-block d-md-none" [type]="1">
                                        </box-content-component>
                                    </div>
                                    <div class="col-12 mt-4" *ngIf="page.cached.length > Pagination.itemsPerPage">
                                        <pagination class="d-flex justify-content-center"
                                            [totalItems]="page.cached.length"
                                            previousText="{{ 'FEbtn.previous' | translate }}"
                                            nextText="{{ 'FEbtn.next' | translate }}"
                                            [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                                            (pageChanged)="Pagination.change($event)">
                                        </pagination>
                                    </div>
                                </div>
                                <ng-template [ngIf]="!contents.data || contents.data.length == 0">
                                    <box-updating-component></box-updating-component>
                                </ng-template>
                            </ng-template>
                        </ng-container>
                    </ng-template>

                    <ng-template [ngSwitchCase]="0">
                        <box-updating-component></box-updating-component>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners bg-light py-4" *ngIf="partners.data?.length">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partners.options">
                <ng-container *ngFor="let partner of partners.data">
                    <ng-template carouselSlide>
                        <a class="d-block" [href]="partner.link" target="_blank">
                            <img [src]="partner.logo" [alt]="partner.company" class="img-fluid mx-auto w-auto">
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>