<div class="menu">
    <nav class="navbar navbar-expand-md p-0">
        <ul class="flex-column navbar-nav w-100 position-relative" *ngIf="menu?.length">
            <ng-template #recursiveMenu let-menu>
                <li class="nav-item px-4 py-2" *ngFor="let item of menu; let i = index"
                    [ngStyle]="{'border-bottom': (i < menu.length -1) ?  '1px solid #c9c7c6' : 'none'}">
                    <a class="nav-link text-dark px-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="text-uppercase" (click)="handleItemClick(false, item, true)">
                                {{ item.name }}
                            </div>
                            <i class="fal fa-angle-right px-2" (click)="handleItemClick(true, item)"
                                *ngIf="item.data?.length" style="font-size: 28px"></i>
                        </div>
                    </a>
                    <div *ngIf="item.data?.length" class="dropdown position-static">
                        <div [id]="'dropdown-menu-child-' + item.id" class="mobile-slider menu-child">
                            <div (click)="handleItemClick(false, item)"
                                class="d-flex align-items-center menu-child-title p-3">
                                <i class="fa-angle-left fal mr-2" style="font-size: 30px"></i>
                                <span class="text-uppercase">{{ item.name }}</span>
                            </div>
                            <ul class="p-0">
                                <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: item.data }">
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </li>
            </ng-template>
            <ng-container *ngTemplateOutlet="recursiveMenu; context:{ $implicit: menu }"></ng-container>
        </ul>
    </nav>
</div>