@import 'src/styles/abstracts/colors';
@import 'src/styles/abstracts/responsive';

.menu {
    height: 100%;
    position: relative;
}

.menu li {
    transition: 0.2s;
}

.menu-child .menu-child-title {
    border-bottom: solid 1px $colorPrimary !important;
    background-color: $colorPrimary !important;
    color: white;
    font-size: 20px;

    @include viewport-sm {
        font-size: 18px;
    }
}

.menu nav ul li.nav-item:last-child {
    border-bottom: none;
}

.mobile-slider {
    position: absolute;
    left: 100%;
    background-color: white;
    height: calc(100vh - 6rem);
    width: 100%;
    z-index: 5;
    top: 3px;
    display: block;
    opacity: 0;
    transition: 0.4s;
    overflow: hidden;
}

.active-menu-child.menu-child {
    left: 0;
    visibility: visible;
    opacity: 1;
    overflow: auto;
}
