<footer class="footer text-white" *ngIf="company.name?.length">
    <div class="container-main">
        <div class="container-fluid">
            <div class="footer-container text-center mx-auto py-3 px-md-5 px-lg-0">
                <span>{{ company.name }}</span>

                <div class="mt-1"
                    *ngIf="('FEBusinessLicense' | translate) != 'FEBusinessLicense' && ('FEBusinessLicense' | translate) != ''">
                    <span>{{ 'FEBusinessLicense' | translate }}</span>
                </div>

                <div class="mt-1" *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                    <span class="mr-1">
                        <i class="fas fa-map-marker-alt mr-1 color-secondary"></i>
                        {{ 'lblAddress' | translate }}:
                    </span>
                    <span>{{ 'FEAddress' | translate }}</span>
                </div>

                <div class="d-flex justify-content-center flex-column flex-md-row">
                    <div class="mt-1" *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                        <span class="mr-1">
                            <i class="fas fa-phone mr-1 color-secondary"></i>
                            {{ 'lblPhone' | translate }}:
                        </span>
                        <a class="text-white" href="tel:{{ 'FEPhone' | translate }}">
                            {{ 'FEPhone' | translate }}
                        </a>
                    </div>

                    <div class="mt-1 ml-3" *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''">
                        <span class="mr-1">
                            <i class="fas fa-envelope mr-1 color-secondary"></i>
                            {{ 'lblEmail' | translate }}:
                        </span>
                        <a class="text-white" href="tel:{{ 'FEMail' | translate }}">
                            {{ 'FEMail' | translate }}
                        </a>
                    </div>
                </div>

                <div class="mt-1" *ngIf="('FEFax' | translate) != 'FEFax' && ('FEFax' | translate) != ''">
                    <span class="mr-1">
                        <i class="fas fa-fax mr-1 color-secondary"></i>
                        {{ 'lblFax' | translate }}:
                    </span>
                    <span>{{ 'FEFax' | translate }}</span>
                </div>
            </div>

            <hr class="m-0 bg-light" />

            <div class="row align-center-items py-1" style="font-size: 13px;">
                <div class="col-md-6 text-center text-md-left">
                    <p class="mb-0">
                        {{ 'copyright' | translate }}
                    </p>
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <span>Powered by </span>
                    <a class="text-decoration-none text-white" href="https://chips.vn" target="_blank"
                        rel="noopener noreferrer">Chips</a>
                </div>
            </div>
        </div>
    </div>
</footer>