<header id="header">
    <div class="header-top">
        <div class="container-main">
            <div class="container-fluid">
                <div class="d-flex justify-content-lg-between align-items-lg-center">
                    <div class="contact d-none d-md-flex flex-md-wrap flex-lg-nowrap">
                        <a *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                            href="mailto:{{ 'FEMail'|translate }}" class="text-decoration-none pr-4">
                            <i class="fas fa-envelope header-icon--color mr-1"></i>
                            {{ 'FEMail'|translate }}
                        </a>
                        <a *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''"
                            href="tel:{{ 'FEPhone'|translate }}" class="text-decoration-none">
                            <i class="fas fa-phone-alt header-icon--color mr-1"></i>
                            {{ 'FEPhone'|translate }}
                        </a>
                    </div>

                    <div
                        class="header-top-right d-flex flex-md-wrap flex-lg-nowrap justify-content-between justify-content-md-end align-items-center align-items-lg-center">
                        <div class="header-social">
                            <a target="_blank" [href]="('FEHrefFacebook' | translate)"
                                *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'"
                                class="footer-social mr-3 mr-md-4">
                                <i class="fab fa-facebook-f header-icon--color"></i>
                            </a>
                            <a target="_blank" [href]="('FEHrefZalo' | translate)"
                                *ngIf="('FEHrefZalo' | translate) != 'FEHrefZalo'"
                                class="footer-social mr-3 mr-md-4 text-decoration-none font-weight-bold header-icon--color">
                                Zalo
                            </a>
                            <a target="_blank" href="mailto: {{ 'FEMail' | translate }}"
                                *ngIf="('FEMail' | translate) != 'FEMail'" class="footer-social mr-3 mr-md-4">
                                <i class="fas fa-envelope header-icon--color"></i>
                            </a>
                            <a target="_blank" href="tel: {{ 'FEPhone' | translate }}"
                                *ngIf="('FEPhone' | translate) != 'FEPhone'" class="footer-social mr-md-0 mr-lg-4">
                                <i class="fas fa-phone-alt header-icon--color"></i>
                            </a>
                            <!-- <a target="_blank" [href]="('FEHrefInstagram' | translate)"
                                *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram'"
                                class="footer-social mr-3 mr-md-4 text-black-50">
                                <i class="fab fa-instagram font-weight-bold"></i>
                            </a>
                            <a target="_blank" [href]="('FEHrefYoutube' | translate)"
                                *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube'"
                                class="footer-social mr-3 mr-md-4 text-black-50">
                                <i class="fab fa-youtube font-weight-bold"></i>
                            </a>
                            <a target="_blank" [href]="('FEHerfSkype' | translate)"
                                *ngIf="('FEHerfSkype' |  translate)!='FEHerfSkype'"
                                class="footer-social mr-md-0 mr-lg-4 text-black-50">
                                <i class="fab fa-skype font-weight-bold"></i>
                            </a> -->
                        </div>
                        <form action="" class="d-flex align-items-center">
                            <input type="search" id="search" (keyup.enter)="search.onSearch();"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="search.value" autocomplete="off"
                                class="form-control form-control-sm input-search p-0 rounded-0"
                                placeholder="{{ 'FESearch.search'|translate }}">

                            <div class="cursor-pointer" style="font-size: 15px;" (click)="search.onSearch()">
                                <i class="far fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>

                <hr class="m-0" />
            </div>
        </div>
    </div>

    <div id="header-center" class="header-center">
        <div class="container-main">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between my-1">
                    <span>
                        <a *ngIf="company.logo?.length" [routerLink]="['/' + mutiLang.active.code]">
                            <img class="logo-header" [src]="company.logo" [title]="company.name" [alt]="company.name" />
                        </a>
                    </span>

                    <div class="d-none d-md-block" [innerHTML]="('FECompanyNameEditor' | translate) | sanitizeHtml"
                        *ngIf="('FECompanyNameEditor' | translate) != 'FECompanyNameEditor' && ('FECompanyNameEditor' | translate) != ''">
                    </div>

                    <div class="d-flex align-items-baseline d-md-block">
                        <div class="d-flex flex-wrap flex-md-nowrap justify-content-end align-items-center">
                            <div class="language d-flex align-items-center justify-content-between ml-3"
                                *ngFor="let item of mutiLang.data; let i = index" (click)="onLanguage(item.id)">
                                <img [src]="item.icon" alt="" width="18">
                                <span class="text-uppercase ml-1"
                                    [ngClass]="{'language-active': item.id == mutiLang.active.id }">
                                    {{item.code}}
                                </span>
                            </div>
                        </div>
                        <div class="d-block d-md-none text-right ml-3">
                            <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                class="btn bg-transparent nav-open-btn px-0 pt-0"
                                [ngClass]="{'active': menuMobile.show == false }">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="d-none d-lg-flex justify-content-center">
                        <app-menu></app-menu>
                    </div>

                    <div class="d-none d-md-block d-lg-none text-right">
                        <button (click)="menuMobile.onMenu(!menuMobile.show)"
                            class="btn bg-transparent nav-open-btn px-0 pt-0"
                            [ngClass]="{'active': menuMobile.show == false }">
                            <span class="line line1"></span>
                            <span class="line line2"></span>
                            <span class="line line3"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="menu-mobi" class="menu-mobi w-100">
    <app-menu-mobile class="d-block d-lg-none" (menumobile)="menuMobile.onMenu(!menuMobile.show)"></app-menu-mobile>
</div>