/* Typography rules */

$font-primary: GoogleSans;

@font-face {
    font-family: $font-primary;
    src: url(/../../assets/font/GoogleSans.ttf);
}

// .heading {
//     // background: linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%, #fd4766 79.69%);
//     background: linear-gradient(120deg, var(--color-secondary) 20.69%, #1c99fe 79.69%);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     display: inline-block;
// }
